<h1>Liste des licencié de la categorie {{ categorie.nom }}</h1>
<table border="1">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
    </tr>
    </thead>
    <tbody>
    {% for licencie in licencie %}
        <tr>
            <td>{{ licencie.nom }}</td>
            <td>{{ licencie.prenom }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>