.idea
###> symfony/framework-bundle ###
/partie_2/.env.local
/partie_2/.env.local.php
/partie_2/.env.*.local
/partie_2/config/secrets/prod/prod.decrypt.private.php
/partie_2/public/bundles/
/partie_2/var/
/partie_2/vendor/
/partie_2/node_modules/
###< symfony/framework-bundle ###